<div class="container-fluid">
  <div class="row">
    <div class="holder">
    <h1>Explore your future Phone</h1>
    </div>
    <div class="col-md-3 ">
      <div class="left-box-fixed">
      <!--Sidebar content-->
          <h3>Search:</h3> <input ng-model="query">
          <hr>
          <p class="sort-font">Sort by:</p>
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </div>
    
      <div class="left-box">
      <!--Sidebar content-->
          <h3>Search:</h3> <input ng-model="query">
          <hr>
          <p class="sort-font">Sort by:</p>
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </div>


    </div>

    <div class="col-md-1"></div>
    <div class="col-md-8">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
