
<div class="top-header-row">
      <div class="row">
        <span class="pull-left nav-box">
          Hie
        </span>
            <span class="pull-left nav-box">
              Hie
            </span>
              <span class="pull-right nav-box">
              Hie
            </span>
      </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="holder">
    <h1>Choose a Free Phone</h1>
    <hr>
    </div>
    <div class="col-md-3 ">
      <div class="left-box-fixed left-box-style">
      <!--Sidebar content-->
          <h3>Search by keywords:</h3> <input class="button" ng-model="query">
          <hr>
          <p class="sort-font">Sort by:</p>
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>

    <br><hr>
          </select>

          <hr>
           <input type="checkbox"
       ng-model="orderProp"
       [name="New Box"]
       [ng-true-value=""]
       [ng-false-value=""]
       [ng-change=""]> This is a checkbox
    </input>
       
       </div>
    
      <div class="left-box left-box-style">
      <!--Sidebar content-->
          <h3>Search:</h3> <input ng-model="query">
          <hr>
          <p class="sort-font">Sort by:</p>
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </div>
    </div>

    <div class="col-md-1"></div>
        <div class="col-md-8 overflow">
      <!--Body content-->
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>

 <div class="bottom-main-row">
  
  </row>


  </div>
</div>
